* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: url(Coding\ Practice\ Week\ 11.png); 
  }
   